.country_select{
    width: 45%;
}
.result{
    /* border: 1px solid #c4c4c4; */
    border-radius: 5px;
    height: 100%;
    background-color: white;
   
}
.result_main{
    width: 80%;
}
.coverter{
    background-color: #4169E1;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 0px rgba(0,0,0,0.4);
}
.pacha{
    color: #66FF00;
    font-weight: 500;
}
.exec{
    display: flex;
    justify-content: space-between;
}
@media  screen and (max-width: 731px) {
    .exec{
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    .country_select{
        width: 100%;
    }
    .space{
        margin: 0 0 50px 0;
    }
  }
